@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Flame-Regular";
  src: url("./assets/font/Flame-Regular.woff") format("woff"),
  url("./assets/font/FlameRegular.otf") format("opentype"),
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Flame-Regular';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}
